<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
		<div class="text">
			<h1>取证</h1>
			<h2>取证的流程</h2>
		 
			<p>该类案件的取证流程一般为：对受害人与嫌疑人之间的聊天记录、银行卡转账记录等内容以及诈骗网站进行拍照固定，制作提取笔录；对受害人进行全面询问，制作询问笔录，记录受害人被骗时间地点、诈骗数额、嫌疑人的账号信息、诈骗的详细过程等情况。利用诸如“警综平台”、“云智达”等网安平台申请对涉案的微信号、QQ号等虚拟身份进行查询，落实嫌疑人身份。对于诈骗网站，可利用互联网平台查询网站的IP地址、域名注册人等详细信息。主动开展对嫌疑人使用的手机号码、虚拟身份进行调查。申请调取手机号的话单，携带调查文件通过银行方调取转账记录；利用综合查询平台，关联嫌疑人使用的手机号，尝试身份关联。</p>
		
			<h2>常用的取证手段</h2>
			<h3>（1）微信记录取证</h3>
				<p>由于刷单类电信诈骗中，犯罪嫌疑人通常会通过微信与受害人联系，重点关注相关聊天记录。针对这类可能受损的数据，可尝试通过以下方法进行还原，实现对犯罪嫌疑人的微信取证。目前应用最广的是取证大师软件可实现一键式微信恢复。除上述工具外，在微信版本6.7.2以后，在“设置”，选择“帮助与反馈”界面下有“修复聊天记录”功能，这是微信自带的对异常聊天记录进行恢复的方法。</p>
				<h3>（2）微信记录取证</h3>
				<p>
				取证同样可利用取证大师实现取证过程。与微信记录取证不同的是对于PC端QQ登陆，其界面会自动载入上一次登陆的QQ账号信息。由于多数诈骗分子可能是批量从他人手中购买的QQ账号，为了方便登陆，通常将QQ原始密码存放在电脑的某个文档中，为此可尝试找到相应的文档实现QQ登录。电脑QQ的存储路径默认为C:\Users\用户名\Documents\Tencent Files[6]。其中Image文件夹中保存有聊天时发送的图片；C2C文件夹存储了个人和个人之间聊天中的图片；Group存储了群组中聊天的图片；Audio文件夹中保存有聊天中的音频文件；Video文件夹中保存有聊天中的视频文件；FileRecv文件夹中保存有聊天中接收到对方发送的文件。
				</p>
				<h3>（3）计算机记录取证</h3>
				<img class="image" src="/images/Picture1.png" alt="Placeholder Image">
				<p>
				针对刷单类电信诈骗案件，在对嫌疑人电脑进行常规取证时，重点要关注一下“剧本”文本，如图4、图5所示。这个“剧本”是诈骗分子为刷单诈骗的每一步提前设计好的回复话术。剧本内容大致包括：<br />
				①如何寻找受害者，怎样向受害者介绍刷单的好处。  <br />
				②如何冒充受益者消除受害人对刷单的质疑。<br />
				③如何教导受害者刷单操作，引导受害者一步一步加大投入。<br />
				④如何对无法提现等问题进行回应，稳住受害人情绪鼓励其继续刷单。<br />为此针对可能存在的诈骗剧本，可以尝试在犯罪嫌疑人的电脑中进行取证，因剧本的内容多为聊天的话术清单，付款的二维码图片，聊天记录的图片和网络地址的链接等，常以html网页，txt文本，Word文档形式，或者是后缀名为“.jpg”、“.png”的图片格式，存放在电脑桌面显眼的位置以及某些特定的文件夹中。要寻找这些“剧本”，应先对桌面文件进行观察，然后对聊天记录中的特定关键词，在“此电脑”中进行尝试搜索，也可以利用取证大师，对电脑中所有的文档与图片进行检索，找出“剧本文档”，同时获取诈骗商品链接，网址、交易使用的网银账号、诈骗分子的注册的空壳公司等信息，完成取证工作。
				</p>
				<img class="image" src="/images/Picture2.png" alt="Placeholder Image">
				
		</div>
		
		
	</div>

	
 
<script>
</script>
  </body>
</html>