<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>

<div class="container">
		
		<div class="text">
			<h1>刷单诈骗侦察方法</h1>
			<h2>信息收集</h2>
		 
			<p>主要包括：服务器配置、管理员信息、域名、IP等，重点关注嫌疑人的网络特征信息，包括即时通讯号码和昵称、邮箱名、手机号码、引流至的App的用户名、发布广告的论坛用户名等。依据犯罪嫌疑人留下的网络信息查找有关线索进行身份落地，如根据犯罪嫌疑人的微信，QQ等社交账号，查询出这些社交账号的注册信息，手机号码，银行卡号等。</p>
		
			<h2>对链接网址进行侦查</h2>
			
				<p>在购物类刷单诈骗案件中，犯罪分子会在作案时给受害人发送某些网址链接，这些链接很有可能是犯罪嫌疑人所搭建的钓鱼网站。</p>
				
				
        <h2>将案件进行串并案侦查</h2>
        <p>
				网络刷单类诈骗侦查的一大困境就是立案难，每起刷单诈骗涉及金额太小，广泛收集线索并案侦查。
				</p>
		</div>
		
		
	</div>

	
 
<script>
</script>
  </body>
</html>