<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
		<div class="text">
			<h1> 加大宣传力度，鼓励群众报案 </h1>
      <p>公安机关要开展针对性的教育工作，对公民开展普法课程，提高公民的防范意识，也应该通过座谈会、现场宣传演讲、等形式，多角度、全方位扩大宣传覆盖面，鼓励被害人报案，形成全民共参与、共抵制、共打击赌博的氛围。具体宣传内容有以下两方面，一方面是要积极宣传网络赌博犯罪的表现形式和社会危害性，提高人们辨别赌博活动的能力。传统赌博结合网络的发展，其表现形式多样，不容易被发现，如微信红包类赌博方式的迷惑性就十分强，因此要多宣传赌博的表现形式及危害性，提醒公民警惕“快速致富”、“返利还能提现”、“提现秒到账”等话术，坚决抵制违法犯罪活动，不要心存侥幸，遇到这种情况要及时报警；另一方面是要加强法治教育的宣传，有一部分人并不清楚参与赌博是否违法，在落入犯罪分子的陷阱后，即使认识到其赌博活动的性质，出于害怕的心理，不敢报案。还有一部分人出借或出租自己的身份信息、支付账号等，为违法资金提供资金结算账户，以此非法牟利，沦为犯罪分子的工具和帮凶。对此，公安机关可以开展有关网络赌博的法治教育宣传活动，提醒群众网络赌博是违法犯罪行为，不要为犯罪分子提供资金结算账户，这样的行为涉嫌构成违法犯罪，切勿出租、出售个人银行卡、收款二维码等具有收款、付款和转账功能的账户。发现来历不明的网站和广告链接，不要抱着好奇和侥幸的心理去尝试，不要轻易点击，鼓励群众自觉抵制任何形式的赌博，保护好个人信息，积极举报有关赌博涉案线索信息，不断提高拒赌反赌意识，共同净化社会环境，共同营造积极健康社会风气。</p>		
		
<script>
</script>
  </body>
</html>