<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
		<div class="text">
			<h1> 规范电子取证 </h1>
      <p>利用大数据技术与侦查工作的结合，扩大信息搜集的覆盖面，提高信息的收集能力。电子证据取证的流程主要包含对网络犯罪电子证据的取得、信息提取、备份以及存储、转移。侦查人员收集到相关数据后可以进一步筛选关键信息，例如通讯记录、聊天记录、交易记录等，从中分析犯罪活动的规律、特点，方便确定下一步的侦查方向。大量数据被分类整理后，梳理出关键信息，再把数据之间进行整合碰撞，发掘更多的信息，锁定犯罪活动的轨迹和犯罪嫌疑人的真实身份。侦查过程中，获取的电子证据要及时提取、存储以及转移，这就要求侦查人员在获取证据时要保证电子证据的完整性并且要对电子证据进行审查，确保证据的真实性和有效性。对侦查侦查人员进行专门的培训，提高侦查取证的技术，解决取证难的问题。</p>		
		
<script>
</script>
  </body>
</html>