<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
			<h1> 收集其他证据，构建完整证据链条 </h1>
      <p>一是要综合多种询问技巧获得犯罪嫌疑人的供述，包括网络赌博平台的账户、运作方式、组织层级架构、犯罪实施的过程、资金往来记录、赌资数额、支付方式等信息，二是参赌人员的证言，参赌人员的自身情况，参与网络赌博的过程、参赌的次数及输赢情况、赌资数额以及结算方式等情况。三是物证，主要包括通讯设备、银行卡等。最后，要注意证据之间的关联性，证据之间能否互相印证，形成完整的证据链，保证侦查的准确性。</p>		
		
<script>
</script>
  </body>
</html>