<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
		<div class="text">
			<h1> 加强多警种之间的协作</h1>
      <p>在网络赌博犯罪案件中，犯罪组织严密，仅凭单一警种，难以对网络赌博犯罪造成有效打击，尤其网络赌博犯罪案件这样跨区域性的案件，对资金链、技术链、人员链、推广链的追查离不开技侦、情报等部门的技术手段支持，不同警种之间加强协作和配合，才能更好的提升打击效率。在侦查协作中，一是要加强不同警种之间的协作配合，加强与经侦、技侦、治安、情报等部门的协作配合，打破不同警种间的协作壁垒，发挥出不同警种独特的优势，有效打击网络赌博犯罪。二是采取统一指挥的模式，经侦、技侦、治安、情报等部门同步上案，各警种集中办案人员、集中办公、统一指挥，这样的模式既能充分发挥各警种协作配合侦破案件的优势，也能够提升侦查合作的默契程度；三是，针对不同警种之间的合作壁垒，明确不同警种之间的部门协作体系，做到奖惩明确，特别是要强化责任追究体系，建立全方位的侦查协作网络。</p>		
		
<script>
</script>
  </body>
</html>