<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
		<div class="text">
			<h1> 利用大数据分析技术追踪赃款 </h1>
      <p>对网络赌博犯罪活动的侦查往往会涉及到资金流的查控，通过资金流了解组织的运行模式以及资金的最终流向。网络赌博平台的参赌人数众多，平台的盈利金额也非常大，涉及多个账户之间的资金往来，而犯罪分子为了逃避网络监管，会在资金流转过程中添加大量正常交易以此掩盖犯罪资金的流向，混淆警方视线，这就使得对大量交易流水记录的筛选、审查、追踪赌博资金的实际去向，成为侦破网络赌博犯罪案件的关键一环。但与互联网相关的犯罪案件，数据信息繁多，想要从众多数据中找到与资金流向密切相关的账户信息并不是一件容易的事情。借助大数据技术分析资金流，可以在短时间内整理出账户信息、交易记录、赌资数额等更多的关键信息，为网络赌博犯罪侦查提供有关资金流的信息。大数据时代，涉及网络的犯罪隐蔽性越来越强，技术手段升级，资金流向复杂，针对犯罪的新形势，合理运用大数据分析技术，查控违法犯罪活动的资金流。对网络赌博资金流的查控要注意交易数据中账户资金异常的部分，通过资金数据能够掌握代理的分级情况，分成利润明细等情况，并排除与案件无关的账户，筛查出涉案的具体账户，确定参赌的人数与赌资，及时锁定、冻结犯罪嫌疑人的账户

</p>		
		
<script>
</script>
  </body>
</html>