<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/headfile') %>
  </head>
  <body>

 
   <%- include('./partials/nav'); %>
  <%- include('./partials/choosecard'); %>
 
<script>
</script>
  </body>
</html>