<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/headfile') %>
  </head>
  <body>

 
   <%- include('./partials/nav'); %>
<h1>网络赌博案件侦查对策</h1>
	<div class="container">
		<a class="choice" href="/choose/3/1">加大宣传力度，鼓励群众报案</a>
    	<a class="choice" href="/choose/3/2">强化网络阵地控制</a>
      	<a class="choice" href="/choose/3/3">规范电子取证</a>
        	<a class="choice" href="/choose/3/4">收集其他证据，构建完整证据链条</a>
          	<a class="choice" href="/choose/3/5">加强多警种之间的协作</a>
            	<a class="choice" href="/choose/3/6">利用大数据分析技术追踪赃款</a>
		
	</div>
 
<script>
</script>
  </body>
</html>