<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/headfile') %>
  </head>
  <body>

 
   <%- include('./partials/nav'); %>
<h1>刷单诈骗</h1>
	<div class="container">
		<a class="choice" href="/choose/2/1">刷单诈骗侦查方法</a>
		<a class="choice" href="/choose/2/2">取证</a>
	</div>
 
<script>
</script>
  </body>
</html>