<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/headfile') %>
  </head>
  <body>

 
   <%- include('./partials/nav'); %>
<h1>“杀猪盘”类电信诈骗案件的防控对策 </h1>
	<div class="container">
		<a class="choice" href="/choose/1/1">加大打击力度，遏制犯罪势头</a>
    <a class="choice" href="/choose/1/2">警银联动破案，加强行业合作</a>
    <a class="choice" href="/choose/1/3">明确工作目标，细化各项指标</a>
		
	</div>
 
<script>
</script>
  </body>
</html>