<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="/images/1.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">杀猪盘</h5>
          <p class="card-text">杀猪盘是一种非法的投机交易，通常是以高额回报为诱饵，吸引投资者投入资金，然后逐渐敛财并消失。</p>
          <a href="/choose/1" class="btn btn-primary">了解更多</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/images/2.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">刷单</h5>
          <p class="card-text">刷单是一种利用虚假交易手段来提高店铺销量和信誉的行为，通常会造成消费者的利益受损。</p>
          <a href="/choose/2" class="btn btn-primary">了解更多</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/images/3.jpg" class="card-img-top" alt="Placeholder Image">
        <div class="card-body">
          <h5 class="card-title">网络赌博</h5>
          <p class="card-text">网络赌博是一种通过互联网进行赌博的行为，由于其便捷性和匿名性，常常会给参与者带来不可预估的风险。</p>
          <a href="/choose/3" class="btn btn-primary">了解更多</a>
        </div>
      </div>
    </div>
  </div>
</div>
