<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
		<div class="text">
			<h1> “杀猪盘”类电信诈骗案件的防控对策 </h1>
			<h2>加大打击力度，遏制犯罪势头 </h2>
		 <p>
     	公安机关要成立打击专项工作组，集多警种资源为一体，培养专门人才，负责“杀猪盘”电信诈骗案件的案情研判和 精准打击，办案经费、专门手段和专用设备专班专用。 
     </p>
	
		
		
				
		</div>
		
		
	</div>

	
 
<script>
</script>
  </body>
</html>