<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
		<div class="text">
			<h1> “杀猪盘”类电信诈骗案件的防控对策 </h1>
			<h2>警银联动破案，加强行业合作 </h2>
				<p>快速联动，建立跨区域协作共享和快速联动应对机制，包括与银行系统建立涉案账户查询、冻结快速通道机制以及与电信运营商建立更加快捷的涉案电话号码查询功能，定期召开公安、银行等部门会议，总结交流打击“杀猪盘”及电信诈骗犯罪工作经验，探索建立电信诈骗犯罪涉案账号、资金的快速查询冻结通道。与各大社交平台企业协作，对疑似诈骗的信息要加大审查力度，对有诈骗嫌疑的账号要准确进行封杀。同时要严格规范社交平台账号注册制度，实现全部用户实名制，防止社交平台成为滋生电信诈骗犯罪的土壤。 </p>
		</div>
		
		
	</div>

	
 
<script>
</script>
  </body>
</html>