<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headfile') %>
</head>
<body>
  <%- include('../partials/nav') %>
</body>


<div class="container">
	
		<div class="text">
			<h1> “杀猪盘”类电信诈骗案件的防控对策 </h1>
    	<h2>明确工作目标，细化各项指标  </h2>
				<p>
				细化各项指标，专业队伍要发挥“尖刀”作用，定期梳理、分析电信诈骗犯罪活动规律、特点，确定诈骗活动区域、销售网点，指导派出所开展清查、打击工作；相关部门要发挥“引导”作用，重点追查涉案资金流向和诈骗电话，调取落地取款监控录像，深入分析排查诈骗犯罪团伙成员真实身份、活动轨迹和犯罪窝点，实现精确打击效果；派出所要发挥“眼睛”作用，通过开展集中清查、设卡盘查等措施，担负起抓捕本辖区内参与电信诈骗犯罪嫌疑人的主要任务。同时，坚持问题导向，抓好落实，加强监管，以扎实的工作取得新成效，切实扭转被动局面。 
				</p>
		</div>
	</div>

	
 
<script>
</script>
  </body>
</html>